<br>
This is a random paring app. It will take a list of names seperated by a "," and randomly pair them. Should your list have an odd number of names it will add the remaining name to the last group.<br>

<form method = "post" action = "names">
	<input type = "text" autofocus="autofocus" name = "user_names">
	<input type = "submit">
</form>



<%= quantity.to_i.times do %>
	<input type="text" name="students[]">
	<%= end %>
	<input type="submit" name="Enter Names">


<form> method = "post" action = "names" </form>